In [ ]:
# default_exp stockdata

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#hide
# stellt sicher, dass beim verändern der core library diese wieder neu geladen wird
%load_ext autoreload
%autoreload 2

# Stock

In [ ]:
# imports
from bfh_mt_hs2020_sec_data.core import * 
from pathlib import Path
from typing import List, Tuple, Union, Set

import pandas as pd

import shutil          # provides high level file operations
import time            # used to measure execution time
import os
import sys

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

from yahoo_historical import Fetcher

In [ ]:
all_data_local_folder = "./data/"

join_group = ["cik","ticker","adsh","period","filed","form","fp"]

## 00_Tools

In [ ]:
def load_data() -> pd.DataFrame:
    df = pd.read_csv(all_data_local_folder + "complete.csv")

    df.period = pd.to_datetime(df.period)
    df.filed = pd.to_datetime(df.filed)
    
    df.sort_values('period', inplace = True)
    df.reset_index(inplace = True)
    return df

In [ ]:
def load_cik_ticker() -> pd.DataFrame:
    df = pd.read_csv(all_data_local_folder + "cik_ticker.csv", sep="|", header = 0)
    return df

## 01_Load required ticker symbols

In [ ]:
tickers = load_data().ticker.sort_values().unique()

In [ ]:
tickers

array(['A', 'AA', 'AAC', ..., 'ZTM', 'ZTS', 'ZUMZ'], dtype=object)

In [ ]:
def get_filename(ticker:str):
    return "D:/data/stocks/sec/" + ticker[0] + "/" + ticker + "_2.csv"

counter_na = 0
counter_ready = 0
for ticker in tickers:
    if os.path.isfile(get_filename(ticker)) == False:
        counter_na += 1
        #print(ticker,end=",")
    else:
        counter_ready += 1

In [ ]:
print(counter_na)
print(counter_ready)

759
2288

In [ ]:
cik_tick_df = load_cik_ticker()
cik_tick_df.columns

Index(['CIK', 'Ticker', 'Name', 'Exchange', 'SIC', 'Business', 'Incorporated',
       'IRS'],
      dtype='object')

In [ ]:
cik_tick_df[cik_tick_df.Ticker == 'CNAT']

,CIK,Ticker,Name,Exchange,SIC,Business,Incorporated,IRS
2685,1383701,CNAT,Conatus Pharmaceuticals Inc,NASDAQ,2834.0,CA,DE,203183915.0

In [ ]:
stockFetcher = Fetcher('AAC',[2010,1,1])
stock_df = stockFetcher.get_historical()

UnboundLocalError: local variable 'crumb' referenced before assignment

In [ ]:
stock_df.shape

(2756, 7)

In [ ]:
stock_df[:10]

         Date       Open       High        Low      Close  Adj Close    Volume
0  2010-01-04  26.000362  26.177889  25.870815  26.129908  20.155407  10829000
1  2010-01-05  26.134706  26.134706  25.789249  25.918797  19.992567  10562100
2  2010-01-06  25.880411  26.096321  25.837231  26.062737  20.103596  11401400
3  2010-01-07  26.057938  26.283443  25.942785  26.278646  20.270136  12857200
4  2010-01-08  26.273848  26.508949  26.235464  26.412991  20.373764  12148600
5  2010-01-11  26.532940  26.619305  26.422586  26.547335  20.477396  10947200
6  2010-01-12  26.484961  26.652889  26.403395  26.470566  20.418177  10939300
7  2010-01-13  26.321829  26.648092  26.317030  26.528143  20.612034  10538900
8  2010-01-14  26.494556  26.686476  26.389000  26.556931  20.634401   8982400
9  2010-01-15  26.561728  26.662485  26.465769  26.624102  20.686594  16132500

https://aroussi.com/post/python-yahoo-finance

In [ ]:
import yfinance as yf
msft = yf.Ticker("MSFT")
print(msft.info)

{'zip': '98052-6399', 'sector': 'Technology', 'fullTimeEmployees': 163000, 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has a strategic collaboration with DXC Technology. The company was founded in 1975 and is headquartered in Redmond, Washington.', 'city': 'Redmond', 'phone': '425-882-8080', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.microsoft.com', 'maxAge': 1, 'address1': 'One Microsoft Way', 'industry': 'Software—Infrastructure', 'previousClose': 210.52, 'regularMarketOpen': 210.05, 'twoHundredDayAverage': 207.81554, 'trailingAnnualDividendYield': 0.009927797, 'payoutRatio': 0.32900003, 'volume24Hr': None, 'regularMarketDayHigh': 213.32, 'navPrice': None, 'averageDailyVolume10Day': 26445250, 'totalAssets': None, 'regularMarketPreviousClose': 210.52, 'fiftyDayAverage': 213.09343, 'trailingAnnualDividendRate': 2.09, 'open': 210.05, 'averageVolume10days': 26445250, 'expireDate': None, 'yield': None, 'algorithm': None, 'dividendRate': 2.24, 'exDividendDate': 1613520000, 'beta': 0.823097, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 209.12, 'priceHint': 2, 'currency': 'USD', 'trailingPE': 34.40232, 'regularMarketVolume': 30979440, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1612352192512, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 29220978, 'priceToSalesTrailing12Months': 10.959883, 'dayLow': 209.12, 'ask': 213, 'ytdReturn': None, 'askSize': 1200, 'volume': 30979440, 'fiftyTwoWeekHigh': 232.86, 'forwardPE': 28.548862, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.76, 'fiftyTwoWeekLow': 132.52, 'bid': 212.99, 'tradeable': False, 'dividendYield': 0.0105, 'bidSize': 1000, 'dayHigh': 213.32, 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EST', 'isEsgPopulated': True, 'gmtOffSetMilliseconds': '-18000000', 'underlyingSymbol': None, 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'underlyingExchangeSymbol': None, 'headSymbol': None, 'messageBoardId': 'finmb_21835', 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 10.588, 'beta3Year': None, 'profitMargins': 0.32285, 'enterpriseToEbitda': 22.865, '52WeekChange': None, 'morningStarRiskRating': None, 'forwardEps': 7.47, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 7560500224, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'bookValue': 16.313, 'sharesShort': 39002778, 'sharesPercentSharesOut': 0.0052, 'fundFamily': None, 'lastFiscalYearEnd': 1593475200, 'heldPercentInstitutions': 0.71911, 'netIncomeToCommon': 47495999488, 'trailingEps': 6.199, 'lastDividendValue': None, 'SandP52WeekChange': None, 'priceToBook': 13.0730095, 'heldPercentInsiders': 0.00059, 'nextFiscalYearEnd': 1656547200, 'mostRecentQuarter': 1601424000, 'shortRatio': 1.34, 'sharesShortPreviousMonthDate': 1604016000, 'floatShares': 7449961518, 'enterpriseValue': 1557618360320, 'threeYearAverageReturn': None, 'lastSplitDate': 1045526400, 'lastSplitFactor': '2:1', 'legalType': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.301, 'dateShortInterest': 1606694400, 'pegRatio': 2.14, 'lastCapGain': None, 'shortPercentOfFloat': 0.0052, 'sharesShortPriorMonth': 36796420, 'category': None, 'fiveYearAverageReturn': None, 'regularMarketPrice': 210.05, 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [ ]:
msft.get_balance_sheet()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [ ]:
print(msft.info['sector'])
print(msft.info['industry'])
print(msft.info['marketCap'])
print(msft.info['sharesOutstanding'])

Technology
Software—Infrastructure
1612352192512
7560500224

In [ ]:

data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30", )

[*********************100%***********************]  2 of 2 completed

In [ ]:
data

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.277639  209.785889  29.037500  225.240005  29.082500
2017-01-04  27.247108  211.033981  29.004999  226.580002  29.127501
2017-01-05  27.385668  210.866318  29.152500  226.399994  29.215000
2017-01-06  27.690971  211.620728  29.477501  227.210007  29.540001
2017-01-09  27.944603  210.922211  29.747499  226.460007  29.857500
...               ...         ...        ...         ...        ...
2017-04-24  33.879871  221.858353  35.910000  237.169998  35.987499
2017-04-25  34.089794  223.149246  36.132500  238.550003  36.224998
2017-04-26  33.889301  223.008942  35.919998  238.399994  36.150002
2017-04-27  33.915257  223.196014  35.947498  238.600006  36.040001
2017-04-28  33.882225  222.709595  35.912498  238.080002  36.075001

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004
...                ...        ...         ...        ...         ...
2017-04-24  237.410004  35.794998  234.559998  35.875000  237.179993
2017-04-25  238.949997  35.967499  237.809998  35.977501  237.910004
2017-04-26  239.529999  35.845001  238.350006  36.117500  238.509995
2017-04-27  238.949997  35.827499  237.979996  35.980000  238.770004
2017-04-28  238.929993  35.817501  237.929993  36.022499  238.899994

               Volume
                 AAPL        SPY
Date
2017-01-03  115127600   91366500
2017-01-04   84472400   78744400
2017-01-05   88774400   78379000
2017-01-06  127007600   71559900
2017-01-09  134247600   46939700
...               ...        ...
2017-04-24   68537200  119209900
2017-04-25   75486000   76698300
2017-04-26   80164800   84702500
2017-04-27   56985200   57410300
2017-04-28   83441600   63532800

[81 rows x 12 columns]

In [ ]:
data = yf.download("AAC", start="2010-01-01", end="2020-12-11")
data

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- AAC: No data found, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [ ]:
aacob = yf.Ticker("AAC")
aacob.info

KeyError: 'regularMarketOpen'

quotes for delisted companies

https://www.quantshare.com/item-81-historical-quotes-for-delisted-us-stocks
https://money.stackexchange.com/questions/18723/how-to-find-historical-stock-price-for-a-de-listed-or-defunct-company